///////////////////////////////
/// BREAKPOINTS
///////////////////////////////

  $breakpoint--small: 480px;
  $breakpoint--medium: 768px;
  $breakpoint--large: 970px;
  $breakpoint--xlarge: 1200px;

///////////////////////////////
/// FONTS
///////////////////////////////

  $font-family--sans-serif: 'Brandon', arial, sans-serif;

///////////////////////////////
/// BASE
///////////////////////////////

  $base-font-size: 20px;

  // links
  $base-link__color: $green;
