.tabs ul {
  padding: 2rem 0; }

.tabs ul li {
  display: inline-block;
  margin-right: 2.5rem; }

.tabs ul li a {
  font-size: 1.75rem;
  font-weight: bold;
  text-transform: uppercase; }

.tabs a.active {
  color: #1d1d1d; }

.tabs-content {
  background: #FFFFFF;
  position: relative;
  padding: 1rem; }

.tabs-content > div {
  position: absolute;
  opacity: 0;
  left: 20px; }

.transition {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.animate {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.tabs-content .active {
  visibility: visible;
  opacity: 1; }

.scale-out {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  filter: alpha(opacity=0);
  opacity: 0; }

.scale-in {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -o-transition-delay: .3s;
  -ms-transition-delay: .3s;
  transition-delay: .3s; }

.fade-out {
  opacity: 0; }

.fade-in {
  opacity: 1;
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -o-transition-delay: .3s;
  -ms-transition-delay: .3s;
  transition-delay: .3s; }
